<!DOCTYPE html>

<html>

  <head>
    <title>Email de Reset de Senha</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  
  	<p>&nbsp;</p>
  	<p>Ol&aacute; <b><span th:text="${name}">Cliente</span></b></p>
  	<p>&nbsp;</p>
    <p>Recebemos uma solicita&ccedil;&atilde;o para que sua senha de acesso ao Compras A2 fosse redefinida.</p>
    <p>Use a senha abaixo para acessar a sua conta e n&atilde;o esque&ccedil;a de alter&aacute;-la logo ap&oacute;s o seu pr&oacute;ximo acesso.</p>
    <p>&nbsp;</p>
    <p><h2 th:text="${psw}">#$%¨@*%$</h2></p>
    <p>&nbsp;</p>
    <p>Lembre-se de que sua senha atual continua v&aacute;lida e voc&ecirc; poder&aacute; utiliz&aacute;-la caso seja necess&aacute;rio.</p>
	<p>Se voc&ecirc; n&atilde;o realizou um pedido de redefini&ccedil;&atilde;o de senha do Compras A2 e suspeita que a seguran&ccedil;a da sua conta possa estar comprometida, por favor, fale conosco (<a href='mailto:contato@tijo.com.br'>contato@tijo.com.br</a>).</p>
  	<p>&nbsp;</p>
  	<p>&copy; 2022 &ndash; Compras A2 &ndash; Todos os direitos reservados.</p>
  
  </body>

</html>